h1 {
	color:#ECBEB4;
	font-size:36px;
	text-align: center;
}

h1{
color:#ECBEB4;
        font-size:36px;
	        text-align: center;

	}

ul {

}


body {
	background-color: #2E5266;
	max-width:1800px;
margin: 0 auto;




}

.kingDiv{
color: #D3D0CB;
background-color:#6E8898;
display: flex;
align-items: center;
margin-bottom: 20px;
text-align: center;
max-width: 1000px;
}
.kingDiv img {
max-width: 100%;
height: auto;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
}


.kingDiv p {
margin: 0;
margin-right: 5px;
}





#kingImages {
background-color: #6E8898;

}

.wemDiv{
	color: #D3D0CB;
	background-color:#6E8898;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	text-align: center;
	max-width: 1000px;
}
.wemDiv img {
	max-width: 100%;
	height: auto;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.wemDiv p {
	margin: 0;
}


.productDiv {
text-align: left;
display: flex;
justify-content: space-between;
width: 100%;
background-color: #9fb1bc;
margin-top: 10px;
} 

.box {
width:150px;
height: 200px;
margin:10px;
border-style: solid;
border-radius: 5px;
background-color: #D3D0CB;
}


.kingImage {
max-width: 100%;
width: 200px;
height: 200px;
margin-left: auto;

}

.footImg {
width:100px;
height:100px;
}

footer {
background-color: #D3D0CB; 
}


.kingText {
margin-left: 10px;
color: #D3D0CB;
max-width: 25%;
}

.footText {
color: black;
}

nav ul {
list-style-type:none; margin:0;  padding:0;  overflow:hidden; display:flex;
margin:0;
padding:0;
}

nav li {
float:left;
border-right:1px solid black;
justify-content: space-between;
padding-left:50px;
padding-right:50px;
width: 300px;
}


nav li a {
display:block;
text-align:center;
text-decoration:none;
padding: 14px 59px;



}

nav li a:hover {
background-color:#D3D0CB;
}

nav {
	
background-color: #D3D0CB;
}

.intro {
color: #D3D0CB;
background-color:#6E8898;
width:1500px;
text-align:center;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.caveImg {
width: 180px;
height:200px;
padding-left: 50px;
padding-right:50px;

}

.imageDiv {
background-color: #6E8898;
width:100%;
}

.WemImages {
background-color: #9FB1BC;
}



.basket {
width: 60%;
margin: 15px auto;
background-color:#D3D0CB;
padding:20px;
border-radius:5px;
display: flex;
justify-content: center;
border-style: solid;
}

.basket2  {
background-color:#D3D0CB;
width: 25%;
padding:20px;
margin:15px auto;
border-style: solid;
display: block;

}
button {
display: inline-block;
padding-left:10px;
padding-right:10px;
margin: 10px 10px;
}

.deleteButton {
text-align:center;
}

.removeButton {
background-color: red;
color: black;
}


.addButton {
background-color: green;
color; black;
}

.productImg {
width: 100px;
height: 100px;
}

