h1 {
	color:#ECBEB4;
	font-size:36px;
	text-align: center;
}

p {
	color: green;
	font-size:16px;
}



ul {

}


body {
	background-color: #2E5266;
	max-width:1800px;
margin: 0 auto;




}

.container{
color: #D3D0CB;
background-color:#6E8898;
width:1500px;
text-align:center;
margin-left: auto;
margin-right: auto;
width: 100%;
display:flex;
}
.kingImage {
max-width: 100%;
width: 200px;
height: 200px;
margin-left: auto;

}

.footImg {
width:100px;
height:100px;
}

footer {
background-color: #D3D0CB; 
}


.kingText {
margin-left: 10px;
color: #D3D0CB;
max-width: 25%;
}

.footText {
color: black;
}

nav ul {
list-style-type:none; margin:0;  padding:0;  overflow:hidden; display:flex;
margin:0;
padding:0;
}

nav li {
float:left;
border-right:1px solid black;
justify-content: space-between;
padding-left:50px;
padding-right:50px;
}


nav li a {
display:block;
text-align:center;
text-decoration:none;
padding: 14px 59px;


}

nav li a:hover {
background-color:#D3D0CB;
}

nav {
	
background-color: #D3D0CB;
}

.intro {
color: #D3D0CB;
background-color:#6E8898;
width:1500px;
text-align:center;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.caveImg {
width: 200px;
height:200px;
padding-left: 50px;
padding-right:50px;

}

.imageDiv {
background-color: #6E8898;
width:100%;
}






.basket {
width: 60%;
margin: 15px auto;
background-color:#D3D0CB;
padding:20px;
border-radius:5px;
display: flex;
justify-content: center;
border-style: solid;
}

.basket2  {
background-color:#D3D0CB;
width: 25%;
padding:20px;
margin:15px auto;
border-style: solid;

}
button {
display: inline-block;
padding-left:10px;
padding-right:10px;
margin: 10px 10px;
}

.removeButton {
text-align:center;
}

