<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" sizes="32x32" href="static/favicon.ico">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Scottish Spelunkers</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body width="500px">
		<h1>Scottish Spelunkers</h1>
<nav>
	<ul>
		<li>
			<a href="/">Home</a></li>

		<li>
			        <a href="/caves">Caves</a>
		</li>
		<li>
			        <a href="/shop">Shop</a>
		</li>
		<li>
			<a href="/form">Form</a>
		</li>
	</ul>
	</nav>




	<p class = "intro">
Exploring the Depths: A Journey into Caves and Cave Diving

Welcome to the mesmerizing world of caves and the encealed beneath the Earth's surface, are captivating natural formations sculpted over thousands of years. These subterranean wonders are often characterized by intricate stalactites and stalagmites, mysterious chambers, and hidden passages.

Cave diving, a specialized form of scuba diving, takes the exploration to another level, allowing enthusiasts to navigate the submerged realms of these underground wonders. It's a unique and challenging experience that requires specialized training and equipment.

As you venture into the depths of a cave, you'll encounter an otherworldly environment, where the play of light and shadow creates an almost surreal atmosphere. Crystal-clear waters reveal a hidden world of geological formations, marine life, and the echoes of the cave's geological history.

Safety and preparation are paramount in cave diving. The subterranean environment poses unique challenges, and divers must be well-versed in navigation, buoyancy control, and emergency procedures.

Whether you're an avid ad or simply curious about the mysteries beneath our feet, cave diving opens a door to a realm where Earth's secrets are written in the rock and water that surround you. Join us on this journey into the heart of the Earth, where every dive is a step into the unknown, and every cavern holds the promise of discovery




<h2>Kings Cave</h2>
	</p>
	<div class="kingDiv">
		<p>The King's Caves, located on the southern coast of the Isle of Arorical and geological landmark. Nestled amidst the rugged cliffs and dramatic landscapes, these caves hold a significant place in Scottish history and folklore.
	<a href="/king">Click here to learn more</a></li>                       </p>
			<img src="{{ url_for('static', filename='img/kingCave.jpg') }}" alt="Your Image">
	</div>
	<h2>Wemyss Caves</h2>
			<div class="wemDiv">

	<p>The Wemyss Caves consist of several caves along the shoreline near the villages of East Wemyss and West Wemyss.
	Theise caves are renowned for their Pictish and medieval carvings, providing insights into the lives of early inhabitants. <a href="/wem">Click here to learn more</a></li></p>
<img src="{{ url_for('static', filename='img/wemCave.jpg') }}" alt="Your Image">



</div>

<footer>
	        <p class="footText">
		"Exploring Caves and Crannies with a Dash of Tartan Flair! Unearthgic, Discover the Mystery – Scottish Spelunkers, Where Adventures Begin Below the Highlands. Gr Headlamp and Join the Subterranean Tartan Party!ish Spelunkers. All rights reserved. Unauthorized spelunking prohibited. Cave exploration at your own risk. No haggises were harmed in the making of this website. By donning a kilt, you agree to embark on subterranean adventures with a spirit of Highland mischief. Terms and conditions apply – please watch your step, mind the stalactites, and don't forget to enjoy the cavernous wonders responsibly!
		        </p>





</footer>


	</body>
</html>

