<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/x-icon" sizes="32x32" href="static/favicon.ico">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Scottish Spelunkers</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<h1>Scottish Spelunkers</h1>
	<nav>
		<ul>
			<li>
				<a href="/">Home</a></li>

			<li>
				<a href="/caves">Caves</a></li>
			</li>
			<li>
				<a href="/shop">Shop</a>
			</li>
		</ul>
	</nav>
	<p class="intro">    
The King's Caves, located on the southern coast of the Isle of Arran in Scotland, are a fascinating historical and geological landmark. Nestled amidst the rugged cliffs and dramatic landscapes, these caves hold a significant place in Scottish history and folklore.
The caves are believed to have been formed over thousands of years through a combination of natural processes, including erosion and the dissolution of limestone rock. However, their historical importance stems from the legend that Robert the Bruce, the renowned Scottish king, took refuge in these caves during the winter of 1306.


	</p>
	<div class="kingDiv">
	<img class="caveImg" src="{{ url_for('static', filename='img/kingCave.jpg') }}" alt="Your Image">
	<p>

	The King's Caves, located on the southern coast of the Isle of Arran in Scotland, are a fascinating historical and geological landmark. Nestled amidst the rugged cliffs and dramatic landscapes, these caves hold a significant place in Scottish history and folklore.
	</div>
	</p>
	<div id="kingImages"
	<img class="caveImg" src="{{ url_for('static', filename='img/king2.jpg') }}" alt="Your Image">


	</div>
</body>
</html>
