<!DOCTYPE>
<html>
<head>
	<title>Scottish Spelunker Shop</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

	<h1>Scottish Spelunkers</h1>
	<nav>
		<ul>

			<li>	<a href="/">Home</a></li>
		</li>
		<li>
			<a href="/shop">Shop</a>
		</li>

		<li>
			<a href="/caves">Caves</a>
		</li>


		</ul>
	</nav>

	<div class ="productDiv">



		<form action="{{ url_for('add_to_basket', item='Rope', price=1.0) }}" method="POST">
		<button type="submit">Add Rope</button>
	</form>

	<form method="POST" action="/add_to_basket/Harness">
		<button type="submit">Add Harness</button>
	</form>

	<form method="POST" action="/remove_from_basket/Rope">
		<button type="submit">Remove Rope</button>
	</form>

	<form method="POST" action="/remove_from_basket/Harness">
		<button type="submit">Remove Harness</button>
	</form>
	</div>

	<div class = "basket2">
	<h2>Basket:</h2>
	<ul>
		{% for item_dict in basket %}
		<li>{{ item_dict['item'] }} - Quantity: {{ item_dict['quantity'] }} - Price: {{ item_dict['price'] }} - Total Price: {{ item_dict['total_price'] }}</li>
		<form method="post" action="{{ url_for('remove_from_basket', item=item_dict['item']) }}">
			<button type="submit">Remove one</button>
		</form>
		</li>
		{% endfor %}
	<p>Total Price: {{ total_price }}</p>
	</ul>
	</div>







</body>
</html>
